[Desktop Entry]
Type=Application
Name=Dell G15 Cycle Power
Name[pt_BR]=Dell G15 Ciclo de Energia
Comment=Cycle between Power Profiles and RGB Colors
Comment[pt_BR]=Alternar entre perfis de energia e cores RGB
Exec=/home/murilo/.local/bin/g15-sync.sh
Icon=battery-high
Categories=System;Settings;
Terminal=false
